%div{:class => "page-header"}
  %h6 Find by address (San Francisco, CA) or Latitude and Longitude (33.48, -122.25)
  %input{:type=> "text", :class => "input-large search-query span10"}
  %button{:class => "btn btn-primary search-btn"} Search